.App {
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100%
}

.game-container {
  width: 100%;
}
#root {
  display: flex;
  width: 100%;
  justify-content: center; 
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.app-header {

}

.secret-container{
  justify-content: center;
  display: flex;
  list-style-type: none;
  font-size: 2rem;
  padding: 1em;

}

.guess-square {
  border: 1px solid blueviolet;
}

.feedback-square {
  border: 1px solid red;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.single-feedback {
  border: 1px solid blue;
}

.board-container {
  width: 40vw;
  height: 80vw;
  border: 5px solid black;
  margin: 0 auto;
}

.guesses {
  display: grid;
  width: 79.99%;
  height: 100%;
  float: left;
  background: bisque;
  margin: 0;
  padding: 0;
  grid-template-columns: repeat(4, 1fr);

}

.feedback {
  display: grid;
  width: 20%;
  height: 100%;
  float: right;
  background: lightgreen; 
  margin: 0;
  padding: 0;
}
.secret-container li {
  margin: .25em;
}
.App-link {
  color: #61dafb;
}

